In [ ]:
# Tips and Tricks Python Pandas

#01: Menyertakan Prefix & Suffix pada seluruh kolom data frame

In [1]:
# Import Modules nya dahulu

import pandas as pd
import numpy as np

print(pd.__version__) # ini untuk print version dari pandas nya
print(np.__version__) # ini untuk print version dari numpy nya

1.3.3
1.21.2

In [11]:
# Persiapan Data Frame

n_rows = 5 # baris
n_cols = 4 # kolom
cols = tuple('ABCD')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D
0  3  4  6  7
1  7  7  7  9
2  8  1  1  6
3  7  8  5  6
4  8  4  8  3

In [3]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [12]:
# Menyertakan Prefix kolom

# prefix menambahkan dari depan

df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D
0        3        4        6        7
1        7        7        7        9
2        8        1        1        6
3        7        8        5        6
4        8        4        8        3

In [13]:
# Menyertakan Suffix kolom

# suffix menambahkan untuk di belakang

df.add_suffix('_field')

   A_field  B_field  C_field  D_field
0        3        4        6        7
1        7        7        7        9
2        8        1        1        6
3        7        8        5        6
4        8        4        8        3